<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="card" style="margin: 2rem; background-color: rgb(245, 239, 239);">
        <div class="card-body">
            <form action="/multiDeleteTestimonial" method="get">
                <h2 class="card-title text-center" style="padding-top: 1rem; padding-bottom: 5rem;">Testimonial</h2>
                <div class="container-fluid">
                    <div class="row text-center">
                        <div class="col-sm-2">
                            <a href="/showAddTestimonial" class="btn btn-outline-primary">
                                Add New Testimonial</a>
                        </div>
                        <div class="col-sm-1">
                            <input type="submit" class="btn btn-outline-primary" value="Multi Delete"
                                onclick="return confirm('Are you sure you want to Delete ?')">
                        </div>
                        <div class="col-sm-2">
                            <b> Testimonial Name </b>
                        </div>
                        <div class="col-sm-2">
                            <b> Designation </b>
                        </div>
                        <div class="col-sm-2">
                            <b> Testimonial Description </b>
                        </div>
                        <div class="col-sm-2">
                            <b> Testimonial Image </b>
                        </div>
                    </div><br>

                    <div class="row">
                        <% values.forEach((value,index)=> { %>
                            <div class="col-sm-1 text-center">
                                <a href="/showEditTestimonial/<%=value._id%>"> <input class="btn btn-primary"
                                        style="margin: 0% 2%;" id="edit" type="button" value="Edit"></a>
                            </div>

                            <div class="col-sm-1 ">
                                <a href="/deleteTestimonial/<%=value._id%>" method="Delete"
                                    onclick="return confirm('Are you sure you want to Delete ?')"> <input
                                        class="btn btn-primary" style="margin: 0% 2%;" id="edit" type="button"
                                        value="Delete"></a>
                            </div>
                            <div class="col-sm-1 text-center">
                                <label><input type="checkbox" id="multiSelect" name="<%= value._id%>"
                                        value="multiSelect"></label>
                            </div>
                            <div class="col-sm-2 ">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="testi_name"
                                        value="<%= value.testi_name %>" placeholder="Enter Testimonial Name" disabled>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="designation"
                                        value="<%= value.designation %>" placeholder="Enter Designation" disabled>
                                </div>
                            </div>

                            <div class="col-sm-2 ">
                                <div class="form-group">
                                    <textarea class="form-control" maxlength="255" rows="4" cols="20"
                                        style="height: 100%!important;" name="testi_desc"
                                        disabled><%= value.testi_desc %></textarea>
                                </div>
                            </div>

                            <div class="col-sm-3 ">
                                <div class="form-group">
                                    <img src="<%= value.img %>" width="150" alt="Testimonial Image"
                                        style="height: 8rem;">
                                </div>
                            </div>
                            <% }); %>
                    </div>
                    <div class="text-center"><a href="/dashboard"> <input class="btn btn-primary" style="margin: 0% 2%;"
                                id="edit" type="button" value="Back"></a></div>
                    <br><br>
                </div>
            </form>
        </div>
    </div>
</body>

</html>