<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</head>
<style>
    .card-title {
        padding: 2%;
        color: white;
        background-color: #26a69a;
        text-align: center;
        font-size: large;
    }

    select {
        display: block !important;
    }

    button {
        color: #fff;
        background-color: #26a69a;
        text-align: center;
        font-size: medium;
        padding: 8px;
        letter-spacing: .5px;
        border: none;
        border: none;
        border-radius: 2px;
        display: inline-block;
        height: 36px;
        line-height: 36px;
        padding: 0 16px;
        text-transform: uppercase;
        vertical-align: middle;
        -webkit-tap-highlight-color: transparent;
    }

    .forget {
        letter-spacing: 0.5px;
        float: right;
        cursor: pointer;
        font-size: 17px;
        color: #3bb6aa;
    }
</style>

<body>
    <div class="main-wrapper">
        <div class="row" style="padding-top: 7rem;">
            <div class="container">
                <div class="col-md-12 stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title">Edit Profile</h6>
                            <br>
                            <% if (typeof error !=='undefined' && error.length> 0) { %>
                                <div class="container">
                                    <div class="alert alert-warning" style="text-align: center;">
                                        <%= error %> &nbsp; &nbsp; &nbsp;<a href="/" style="color:#8a6d3b;">&#10006;</a>
                                    </div>
                                </div>
                                <% } %>
                                    <form class="cmxform" method="post" action="/updateProfile"
                                        enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="col-sm-6 col-lg-6 col-md-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="fname"
                                                        placeholder="Enter Name" value="<%= values.fname %>">
                                                </div>
                                                <% if (typeof error1 !=='undefined' && error1.length> 0) { %>
                                                    <div style="color: red;">
                                                        <%= error1 %>
                                                    </div>
                                                    <% } %>
                                            </div>
                                            <div class="col-sm-6 col-lg-6 col-md-6">
                                                <div class="form-group">
                                                    <input id="lname" class="form-control" name="lname" type="text"
                                                        placeholder="Enter Last name" value="<%= values.lname %>">
                                                    <% if (typeof error2 !=='undefined' && error2.length> 0) { %>
                                                        <div style="color: red;">
                                                            <%= error2 %>
                                                        </div>
                                                        <% } %>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" row">
                                            <div class="col-sm-12 col-lg-12 col-md-12">
                                                <div class="form-group">
                                                    <input id="email" class="form-control" name="email" type="email"
                                                        placeholder="Enter Email" value="<%= values.email %>">
                                                    <% if (typeof error3 !=='undefined' && error3.length> 0) { %>
                                                        <div style="color: red;">
                                                            <%= error3 %>
                                                        </div>
                                                        <% } %>
                                                </div>
                                            </div>
                                        </div>

                                        <div class=" row">
                                            <div class="col-sm-12 col-lg-12 col-md-12">
                                                <div class="form-group">
                                                    <input id="text" class="form-control" name="phone" type="number"
                                                        placeholder="Enter Phone Number" value="<%= values.phone %>">
                                                    <% if (typeof error6 !=='undefined' && error6.length> 0) { %>
                                                        <div style="color: red;">
                                                            <%= error6 %>
                                                        </div>
                                                        <% } %>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-lg-12 col-md-12">
                                                <div class="form-group">
                                                    <label for="img">Select image:</label>
                                                    <input type="file" id="img" name="img" accept="image/*">
                                                    <img src="/<%= values.img %>" alt="User Image"
                                                        style="height: 8rem;">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-lg-12 col-md-12">
                                                <div class="form-group">
                                                    <select class="form-control" id="country" name="country">
                                                        <option selected="" disabled="">Select Your Country</option>
                                                        <option value="India" <%=values.country=="India" ? 'selected'
                                                            :'' %>>India</option>
                                                        <option value="Europe" <%=values.country=="Europe" ? 'selected'
                                                            :'' %>>Europe</option>
                                                        <option value="USA" <%=values.country=="USA" ? 'selected' :'' %>
                                                            >USA</option>
                                                        <option value="UK" <%=values.country=="UK" ? 'selected' :'' %>
                                                            >UK</option>
                                                        <option value="Canada" <%=values.country=="Canada" ? 'selected'
                                                            :'' %>>Canada</option>
                                                    </select>
                                                </div>
                                                <% if (typeof error7 !=='undefined' && error7.length> 0) { %>
                                                    <div style="color: red;">
                                                        <%= error7 %>
                                                    </div>
                                                    <% } %>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-lg-12 col-md-12">
                                                <div class="form-group">
                                                    <label for="gender">Gender:- </label>&nbsp;
                                                    <div class="radio">
                                                        <label><input type="radio" name="gender" value="male"
                                                                <%=values.gender=='male' ? 'checked' : '' %>
                                                            >Male</label>
                                                    </div>
                                                    <div class="radio">
                                                        <label><input type="radio" name="gender" value="female"
                                                                <%=values.gender=='female' ? 'checked' : '' %>
                                                            >Female</label>
                                                    </div>
                                                    <div class="radio">
                                                        <label><input type="radio" name="gender" value="other"
                                                                <%=values.gender=='other' ? 'checked' : '' %>
                                                            >Other</label>
                                                    </div>
                                                </div>
                                                <% if (typeof error8 !=='undefined' && error8.length> 0) { %>
                                                    <div style="color: red;">
                                                        <%= error8 %>
                                                    </div>
                                                    <% } %>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-lg-12 col-md-12">
                                                <label for="hobbies">Hobbies:- </label><br>
                                                <label><input type="checkbox" id="hobbies" name="hobbies"
                                                        value="Play Cricket" <%=values.hobbies=='Play Cricket'
                                                        ? 'checked' : '' %>>
                                                    Play Cricket</label><br>
                                                <label><input type="checkbox" id="hobbies" name="hobbies"
                                                        value="Play Mobile Games" <%=values.hobbies=='Play Mobile Games'
                                                        ? "checked" : "" %>>
                                                    Play Mobile Games</label><br>
                                                <label><input type="checkbox" id="hobbies" name="hobbies"
                                                        value="Work on computer" <%=values.hobbies=='Work on computer'
                                                        ? "checked" : "" %>>
                                                    Work on computer</label><br>
                                                <% if (typeof error9 !=='undefined' && error9.length> 0) { %>
                                                    <div style="color: red;">
                                                        <%= error9 %>
                                                    </div>
                                                    <% } %>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div><a href="/viewProfile" class="forget">Cancel</a></div>

                                            <input class="btn btn-primary" style="margin: 0% 0% 2% 40%;" type="submit"
                                                value="Update">
                                        </div>
                                    </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>

</html>